.container-fluid {
  border: 3px solid #fac168;
  /*background-image: linear-gradient(to bottom right, cornflowerblue, white);*/
  border-radius: 40px;
  margin: 15px auto 0px;
  padding: 0px 0px 10px 0px;
  max-width: 740px;
  height: 100%;
  background-image: url(nbc.jpg);
  background-position: 50% 20%;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Texturina", serif;
}

.containerWeather {
  margin: 10px 0px;
}

input[type="text"] {
  border-radius: 40px;
  border: 1px solid #a3c0f5;
  box-shadow: 2px 2px 5px grey;
  margin: 0px 15px 10px 10px;
  padding: 0px 1px 1px 15px;
  font-size: 22px;
  background-color: white;
  color: #000000;
  transition: all 200ms ease;
  cursor: url(zeroresized2.png), auto;
  position: relative;
  left: 230px;
  top: -21px;
}

.magn {
  width: 30px;
  position: relative;
  margin: 15px 0;
  color: white;
  right: -90px;
}

h2,
.temp,
.units,
.todayTempMinMax,
.Today,
.NextDays,
.city {
  color: white;
}

.temp {
  font-weight: bold;
  font-size: 30px;
  line-height: 1px;
  padding: 0px;
  position: relative;
  left: -58px;
  top: 4px;
}
.units {
  position: relative;
  bottom: 2px;
  left: -58px;
  font-size: 14px;
}

.icon {
  display: block;
  width: 53px;
  position: absolute;
  left: 40px;
  top: 0px;
}

.realFeel {
  margin: 0px auto;
  padding: 0px 0px 0px 10px;
  position: relative;
  top: 0px;
  left: 50px;
  font-size: 16px;
}

.description {
  font-size: 17px;
  margin: 0px auto;
  padding: 0px 0px 0px 10px;
  position: relative;
  left: -60px;
  top: 2px;
}

.forHour {
  font-weight: bold;
}

.humidity {
  position: relative;
  right: -70px;
  font-size: 16px;
}

.wind {
  font-size: 16px;
  position: relative;
  right: -253px;
}

.line {
  background-color: #fac168;
  border-radius: 20px;
  width: 660px;
  position: relative;
  left: 50px;
  color: black;
  border: 1px solid #fac168;
  padding: 1px 0px 1px 15px;
  margin: 5px 30px 0px 0px;
  font-weight: 900;
}

h1 {
  display: inline;
  position: relative;
  left: 0px;
  font-size: 16px;
  text-align: left;
  color: black;
  font-weight: bold;
  top: 0px;
}

.todayDay {
  position: relative;
  right: -48px;
}

.btnCurrentlocation {
  text-align: center;
  border-radius: 40px;
  border: none;
  position: relative;
  top: 11px;
  background-color: black;
  color: white;
  text-decoration: underline;
  margin: 0px auto;
  padding: 0px auto;
}

.btnCurrentlocation:hover {
  cursor: pointer;
  color: #fac168;
  transition: all 200ms ease;
}

.code {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Texturina", serif;
  font-weight: bold;
  position: fixed;
  bottom: 2px;
  left: 300px;
  display: block;
}

.TempToday .active {
  color: white;
  cursor: default;
}

.TempToday .active:hover {
  text-decoration: none;
  color: white;
}

.title {
  position: relative;
  left: 270px;
  color: red;
  font-weight: bold;
  display: block;
  font-weight: 30px;
}

.NextDays {
  padding-top: 200px;
  padding-left: 15px;
  text-align: left;
}

.col {
  padding: 0;
  text-align: center;
}

.Sunn {
  height: 30px;
  width: 30px;
}
